*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.head-top{
	width: 100%;
	height: 40px;
	background: #494949;
	line-height: 40px;
	color: white;
	font-size: 12px;
	font-family: "微软雅黑";
}
.head-top>span{
	padding-left: 439px;
}
.head-top>div{
	width: 528px;
	float: right;
}
.head-top>div>a{
	color: white;
	text-decoration: none;
}
.head-top>div>a>span{
	margin-right: 5px;
}
.logo{
	width: 100%;
	height: 133px;
}
.logo>.logo-left{
	float: left;
	width: 145px;
	padding-top: 24px;
	padding-left: 440px;
}
.logo>.logo-right{
	padding-top: 37px;
	width: 613px;
	float: right;
}
.logo>.logo-right>button{
	width: 154px;
	height: 29px;
	color: white;
	border-radius: 20px;
	cursor: pointer;
	outline: 0;
	background: none;
	border: 1px solid white;
	font-size: 14px;
	background: url(../img/index/22.png) no-repeat;
	background-size: 20px 20px;
	background-position: 15px 5px;
}
.nav{
	width: 100%;
	height: 102px;
}
.nav>ul{
	list-style: none;
	margin-left: 440px;
}
.nav>ul>li{
	float: left;
}
.nav>ul>li>a{
	display: block;
	color: white;
	text-decoration: none;
	width: 107px;
	height: 65px;
	font-family: "楷体";
	font-size: 16px;
}
.nav>ul>li>#last{
	width: 77px;
	height: 65px;
}
#nav{
	width: 100%;
	height: 58px;
	background: white;
	line-height: 58px;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 999;
	box-shadow: 0 0 6px rgba(0,0,0,0.25);
}
#nav>.phantom{
	width: 1280px;
	height: 100%;
	margin: 0 auto;
	padding: 0 40px;
}
#nav>.phantom>.ph-logo{
	float: left;
	height: 48px;
	padding-top: 10px;
}
#nav>.phantom>.ph-content{
	width: 800px;
	height: 48px;
	float: right;
	text-align: right;
	padding-bottom: 5px;
	padding-top: 5px;
	display: table-cell;
	vertical-align: middle;
}
#nav>.phantom>.ph-content>ul{
	line-height: 48px;
	list-style: none;
}
#nav>.phantom>.ph-content>ul>li{
	float: left;
}
#nav>.phantom>.ph-content>ul>li>a{
	display: block;
	color: #BAAB66;
	text-decoration: none;
	width: 72px;
	height: 48px;
	font-family: "楷体";
	font-size: 16px;
	margin: 0 17.5px;
	font-weight: bold;
}
.foot{
	width: 100%;
	height: 180px;
}
.foot>.ft-tp{
	width: 1013px;
	height: 141px;
	margin: 0 auto;
}
.foot>.ft-tp>.ft-tp-nav{
	width: 100%;
	height: 28px;
	padding: 4px 10px;
	border-bottom: 1px solid #E5DBBE;
}
.foot>.ft-tp>.ft-tp-nav a{
	float: left;
	color: #BAAB66;
	font-size: 17px;
	width: 87px;
	font-family: "楷体";
}
.foot>.ft-tp>.ft-tp-nav #last{
	width: 51px;
}
.foot>.ft-tp>.ft-tp-lg{
	width: 100%;
	height: 112px;
}
.foot>.ft-tp>.ft-tp-lg>div>span{
	width: 32px;
	height: 32px;
	float: left;
	display: block;
	margin-right: 10px;
	margin-top: 30px;
	background: url(../img/social_icon_32x32.png);
}
.foot>.ft-tp>.ft-tp-lg>div>span:nth-of-type(1){
	background-position: -128px -64px;
}
.foot>.ft-tp>.ft-tp-lg>div>span:nth-of-type(2){
	background-position: -160px -64px;
}
.foot>.ft-tp>.ft-tp-lg>div>span:nth-of-type(3){
	background-position: -192px -64px;
}
.foot>.ft-tp>.ft-tp-lg>div>span:nth-of-type(4){
	background-position: -256px -64px;
}
.foot>.ft-tp>.ft-tp-lg>div>span:nth-of-type(5){
	background-position: -320px -64px;
}
.foot>.ft-tp>.ft-tp-lg>img{
	float: right;
	margin-top: 30px;
}
.foot>.ft-bt{
	width: 100%;
	height: 39px;
	background: black;
	color: #BAAB66;
	text-align: center;
	font-size: 12px;
	line-height: 39px;
	font-family: "微软雅黑";
}
.md-lg{
	background: url(../img/index/Nob.png) no-repeat;
	background-size: 33px 34px;
	background-position-y: 6px;
	font-size: 28px;
	color: #BAAB66;
	padding-left: 34px;
}
.content1{
	margin-top: 30px;
	font-size: 13px;
	color: rgb(173,155,119);
}
.content1>p{
	line-height: 25px;
}
.content2{
	height: 110px;
	margin-top: 20px;
	font-size: 11px;
	font-family: open sans;
	color: rgb(173,155,119);
}
.content2>p{
	line-height: 20px;
}
.button{
	width: 392px;
	height: 91px;
	border: 1px solid #B79F6C;
	background: #B79F6C;
	padding: 15px 20px;
}
.button:hover{
	background: white;
}
.button>a{
	color: white;
}
.button:hover>a{
	color: #B79F6C;
}
.bt-tp{
	font-size: 22px;
	font-family: "楷体";
	line-height: 1.6em;
}
.bt-ct{
	line-height: 1.5em;
}
.bt-bt{
	line-height: 1.6em;
	font-size: 13px;
	font-weight: 700;
	font-family: "times new roman";
}