.box{
	width: 1920px;
	height: auto;
	margin: 0 auto;
}
.head{
	width: 100%;
	height: 212px;
	background: url(../img/visa/MjAx.jpg) no-repeat;
	background-position: 0px 40px;
	background-size: 1920px;
	overflow: hidden;
}
.head>.bg{
	width: 100%;
	height: 212px;
	background: black;
	opacity: .5;
	position: absolute;
}
.head>div{
	position: relative;
}
.body{
	width: 100%;
	height: 506px;
}
.body>div{
	padding-top: 60px;
	width: 1024px;
	height: 343px;
	margin: 0 auto;
}
.body>div>form{
	width: 434px;
	height: 193px;
	border: 1px solid #B79F6C;
	border-radius: 5px;
	margin: 0 auto;
	padding: 22px;
}
.body>div>form>label{
	display: block;
	float: left;
	cursor: pointer;
	margin: 5px 0 0 0;
	font-weight: normal;
	font-family: "宋体";
	font-size: 13px;
}
.body>div>form>input{
	float: right;
	width: 261px;
	height: 30px;
	border: 1px solid #ddd;
	font-size: 14px;
	font-family: "宋体";
	background: #F5F5F5;
	padding: 0 8px;
	border-radius: 3px;
	color: #999;
	outline: 0;
}
.body>div>form>#checkbox{
	display: block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 73px;
	left: 156px;
	cursor: pointer;
	background: url(../img/login/unchecked-checkbox.png);
}
.body>div>form>#cb{
	position: relative;
	left: 180px;
	top: 8px;
	color: #888;
	line-height: 18px;
}
.body>div>form>div{
	width: 100%;
	height: 46px;
	margin-top: 115px;
	padding-top: 15px;
	border-top: 1px solid #E5E5E5;
}
.body>div>form>div input{
	margin-right: 15px;
	vertical-align: baseline;
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	background: #B79F6C;
	border: 1px solid #B79F6C;
	font-family: "宋体";
	border-radius: 3px;
	cursor: pointer;
	color: white;
}
.body>div>form>div>a>#register{
	background: white;
	color: #B79F6C;
}
.body>div>form>div>#find{
	float: right;
	line-height: 32px;
	color: #333;
	font-family: "宋体";
	font-size: 13px;
}
.body>div>div{
	padding-top: 32px;
	width: 100%;
	height: 72px;
}
.body>div>div>span{
	font-size: 14px;
	line-height: 1.5em;
}
.body>div>div>ol>li{
	display: list-item;
	text-align: -webkit-match-parent;
	list-style-type: decimal;
	list-style-position: inside;
	line-height: 1.5em;
	font-size: 14px;
}
.body>div>div>ol>li>a{
	color: #E24F4F;
}
